/*Font Family : Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 625% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  background-color: #f7f8ffff;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Swal Styles */
.swal2-popup {
  font-size: 1.4rem;
}

@media screen and (width < 500px) {
  .swal2-popup {
    font-size: 1rem;
  }
}
